@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Regular.ttf);
    font-weight: normal;
}

html {
    overflow-x: hidden;
}

body {
    background-color: black;
    width: fit-content;
    overflow-x: hidden;
    font-family: Quicksand;
    font-weight: normal;
}
  
.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(40, 40, 40, var(--bs-bg-opacity)) !important;
}
  
.container-fluid {
    background: url("../images/bg-left.png") left top repeat-y, url("../images/bg-right.png") right top repeat-y;
    background-size: contain;
}

.logo {
    text-align: center;
    margin: 0 20% 0 20%;
}

p {
    color: white;
    text-align: center;
    margin: 0;
}

.fa-ul {
    margin: 0;
}

.fa-ul>li {
    text-align: center;
    color: white;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: small;
    text-align: center;
    color: white;
    font-family: inherit;
}

.contacts>li {
    text-align: center;
    font-weight: normal;
}

.social {
    text-align: center;
    font-size: xx-large;
}

a{
    color: white;
}

a:hover{
    color: white;
}